*
{
    margin: 0;
    padding: 0;
    font-family: "Poppins", serif;
}

#wrapper {
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}
#color-box {
    width: 350px;
    height: 150px;
    background-color: rgb(247, 247, 247);
    text-align: center;
    border-radius: 30px;
    border: rgb(1, 10, 22) solid 5px;
}
#btn {
    padding: 10px 20px;
    margin-top: 30px;
    border-radius: 15px;
    background-color: rgb(37, 36, 36);
    color: #fff;
}
p
{
    margin-top: 20px;
}
